<form action="/signup" method="post">
    <label>fullName</label>
    <input type="email" name="email">
    <label>email</label>
    <input type="password" name="password">
    <label>password</label>
    <input type="password" name="rePassword">
    <button type="submit">sign up</button>
</form>